<!DOCTYPE html>
<html>
<head>
    <title>Greet-AI Welcome</title>
</head>
<body>
    <form method="POST" action="/process_text">
        <label for="user_input_openai_api_key">Enter OpenAI api Key:</label>
        <input type="text" id="user_input_openai_api_key" name="user_input_openai_api_key">
        <label for="user_input_dropbox_api_key">Enter Dropbox Sign API key:</label>
        <input type="text" id="user_input_dropbox_api_key" name="user_input_dropbox_api_key">
        <input type="submit" value="Submit">
    </form>
</body>
</html>
